a, a:visited, button.bm-item {
  text-decoration: none;
  outline: 0;
  color: #666666;
}

a:hover,button.link-looking-button:hover, button.bm-item{
  color: #444444;
  cursor: pointer;
}

/*
App styles
*/
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  overflow: hidden !important;
  background: #f7f7f7;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Obviously a button.bm-item*/
button.bm-item {
  all: revert;
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: sans-serif;
  font-weight: normal;
  background: none!important;
  border: none;
  cursor: pointer;
  font-size: 1.15em;
  color: #666666;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

button.link-looking-button{
  all:revert;
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: sans-serif;
  font-weight: normal;
  background: none!important;
  border: none;
  cursor: pointer;
  font-size: 1em;
  color: #666666;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}



/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 22px;
  height: 18px;
  left: 22px;
  top: 22px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  background: white;
  margin: 14px;
}

.bm-burger-button button {
  width: 48px !important;
  margin: -14px !important;
  padding: 6px 11px 12px 11px !important;
  border: 14px solid white !important;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #666666;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  opacity: 1 !important;
  background: #444444;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}
